<header class="am-nav">
  <a routerLink="/" class="brand" aria-label="Beranda DGT">
    <img src="assets/logo-emblem.png" alt="Lambang Kementerian Transmigrasi">
  </a>
  <span class="nav-title">Account Management</span>

  <nav class="am-menus ml-auto">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="menu-btn" ngbDropdownToggle>Entities</button>
      <div ngbDropdownMenu>
        <a ngbDropdownItem routerLink="/account-management/user-groups">User Group</a>
        <a ngbDropdownItem routerLink="/account-management/applications">Application</a>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="menu-btn" ngbDropdownToggle>Administration</button>
      <div ngbDropdownMenu>
        <a ngbDropdownItem routerLink="/account-management">User management</a>
        <a ngbDropdownItem routerLink="/account-management/manage-password">Manage user password</a>
        <a ngbDropdownItem routerLink="/account-management/audits">Audits</a>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block" placement="bottom-right">
      <button type="button" class="menu-btn" ngbDropdownToggle>{{ userName }}</button>
      <div ngbDropdownMenu>
        <a ngbDropdownItem routerLink="/account-management/settings">Settings</a>
        <a ngbDropdownItem routerLink="/account-management/password">Password</a>
        <button type="button" ngbDropdownItem (click)="signOut()">Sign out</button>
      </div>
    </div>
  </nav>

  <dgt-theme-toggle></dgt-theme-toggle>
</header>

<router-outlet></router-outlet>
<dgt-toast-container></dgt-toast-container>
