<ng-container>
  <div class="rail-scrim d-lg-none" *ngIf="open" (click)="closeMobile.emit()"></div>

  <nav class="rail" [class.collapsed]="collapsed" [class.open]="open">
    <div class="rail-head">
      <a class="rail-back-link" routerLink="/" [attr.aria-label]="backLabel">
        <span class="rail-logo">DGT</span>
      </a>
    </div>

    <div class="rail-body">
      <span class="rail-group-label">Modul</span>
      <button
        *ngFor="let item of items"
        type="button"
        class="rail-item"
        [class.active]="item.id === activeId"
        (click)="onSelect(item.id)">
        <span class="rail-icon" *ngIf="item.icon" [innerHTML]="item.icon | safeHtml"></span>
        <span class="rail-text">
          <span class="rail-label">{{ item.label }}</span>
          <span class="rail-sub" *ngIf="item.sub">{{ item.sub }}</span>
        </span>
      </button>
    </div>
  </nav>
</ng-container>
